$white: #FFFFFF;
$black: #000000;
$positive-color-green: #27AE60;
$negative-color-red: #C0392B;
$positive-color-green-hover: #2ECC71;
$negative-color-red-hover: #E74C3C;

$contol-panel-search-background-color: #DCD4D4;
$contol-panel-search-background-color-hover: #BBB7B7;
$modal-window-background-color: rgba(0, 0, 0, 0.5);
$modal-window-input-fields-background-color: #F3F3F3;

$priority-color-low-blue: #2980B9;
$priority-color-middle-yellow: #F39C12;

$block-shadow-color: rgba(4, 13, 40, 0.1);
$block-shadow-color-hover: rgba(4, 13, 40, 0.2);

$title-font-size: 25px;
$text-font-size: 18px;
